[workspace]
members = ["job_config", "silva"]
resolver = "2"

[workspace.package]
version = "0.3.7"
edition = "2024"
license = "MIT"
authors = ["Qin Wan <qw@chiral.one>"]
repository = "https://github.com/chiral-data/silva"
