[package]
name = "tui"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
crossterm = "0.28"
ratatui = "0.29"
tokio = { version = "1", features = ["full"] } 
serde = { version = "1", features = ["derive"] }
serde_json = "1"
xdg = "2.5"
home = "0.5"
toml = "0.8"
bollard = "0.18"
flate2 = "1.0"
tar = "0.4"
futures-util = "0.3"
sacloud-rs = { path = "../providers/sacloud-rs" }

[[bin]]
name = "silva"
path = "src/main.rs"
